.button {
    font-size: 25px;
    width: 495px;
    height: 80px;
    background-color: #d1c7bd;
    border: 10px; 
    border-radius: 2px;
    cursor: pointer;  
    font-family: georgia; 
}

.button:hover {
    font-size: 25px;
    width: 475px;
    height: 80px;
    background-color: #ebe3db;
    border: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-style: serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #837164;
}
.image1 {
  text-align: right;
  font-weight: bold;
}
body {
  background-color: #eeeae0;
  align-items: center;
}
h1 {
  color:#837164;
  font-weight: bold;
}
p1 {
  color:#000000;
  font-size: 23px;
}
.text {
    text-align: center;
    font-weight: bold;
    color:#837164;
    font-size: 30px;
}
.image2 {
  text-align: right;
}
.text2 {
  text-align: center;
  font-size: 25px;
}
.list {
 font-size: 23px;
}
