        body {
             display: flex;
             justify-content: center;
             align-items: center;
             margin: 0;
             background-color: #eeeae0;
         }
        table {
            width: 45px
            border-collapse: collapse;\
        }
        td {
            border: 1px solid black;
            height: 70px;
            text-align: center; 
            font-size: 15px;
            width: 35px;
            border-collapse: collapse;\
            font-size: 25px;
            color: #837164;
        }
        p1 {
           font-size:25px;
           color: #837164;
        }

        video {
              padding: 7px;
        }
        img {
             padding: 7px;
        }
.button {
    font-size: 25px;
    width: 495px;
    height: 80px;
    background-color: #d1c7bd;
    border: 10px; 
    border-radius: 2px;
    cursor: pointer;  
    font-family: georgia; 
}

.button:hover {
    font-size: 25px;
    width: 475px;
    height: 80px;
    background-color: #ebe3db;
    border: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-style: serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.image1 {
  text-align: right;
  font-weight: bold;
}
