        body {
             display: flex;
             justify-content: center;
             align-items: center;
             margin: 0;
             background-color: ##ffffff;
         }
        table {
            width: 45px
            border-collapse: collapse;\
        }
        td {
            border: 1px solid black;
            height: 70px;
            text-align: center; 
            font-size: 15px;
            width: 40px;
            border-collapse: collapse;\
        }

        hl {
            text-align: center;
        } 
        .navbar ul{
                list-style-type: none;
                background-color:#dark grey;
                padding: 0px;
                margin: 0px;
                overflow: hidden; 
        }
        .navbar a{ 
                color: white; 
                display:block; 
                text-align: center;
        }
        .navbar a:hover{
                background-color: grey;
        }
        .navbar li{
                float: right;
        }

.button {
    font-size: 15px;
    width: 500px;
    height: 90px;
    background-color: #98A869;
    border: 10px; 
    border-radius: 2px;
    cursor: pointer;  
    font-family: georgia; 
}

.button:hover {
    font-size: 15px;
    width: 500px;
    height: 90px;
    background-color: #52a447;
    border: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-style: serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

